/* Navbar */
nav {
    height: 60px;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
    background-color: #133C74;
    text-align: center;
  }
  
  .navbar li a {
    color: rgb(255, 255, 255);
  }
  
  .navbar li a:hover {
    color: rgb(0, 179, 255);
  }
  
  .btn-nav {
    background-color: #133C74;
    color: rgba(218, 224, 230, 0.582);
    border: 2px solid rgba(218, 224, 230, 0.582);
    border-radius: 10px;
    float: right;
  }
  
  .btn-nav:hover {
    border: 2px solid;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
  }
  
  .amarelinho {
    color: #fec634;
    font-size: 150%;
    text-decoration: none;
  }
  
  /* Perfil */
  .emp-perfil1 {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
  }
  
  .perfil1-img {
    text-align: center;
    cursor: pointer;
    transition-duration: 200ms;
  }
  
  .perfil1-img img {
    width: 50%;
    height: 50%;
  }
  
  .perfil1-img:hover {
    transform: scale(1.1);
  }
  
  .decoracao {
    color: #ba11ba;
  }
  
  .emp-perfil {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
  }
  
  .perfil-img {
    text-align: center;
  }
  
  .perfil-img img {
    width: 70%;
    height: 100%;
  }
  
  .perfil-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #133c74;
  }
  
  .perfil-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
  }
  
  .perfil-head h5 {
    color: #333;
  }
  
  .perfil-head h6 {
    color: #133c74;
  }
  
  .perfil-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
  }
  
  .proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
  }
  
  .proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
  
  .perfil-head .nav-tabs {
    margin-bottom: 1%;
  }
  
  .perfil-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
  }
  
  .perfil-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #133c74;
  }
  
  
  .perfil-tab label {
    font-weight: 600;
  }
  
  .perfil-tab p {
    font-weight: 600;
    color: #133c74;
  }
  
  /* Página login */
  .inputlogin {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
  }
  
  .login {
    background-color: #133c74;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
  }
  
  button.marx:hover {
    background-color: #19875431;
    cursor: pointer;
  }
  
  button:hover {
    background-color: deepskyblue;
    cursor: pointer;
  }
  
  button.modallogin {
    background-color: #133c74;
    cursor: pointer;
  }
  
  button.modalcadastro {
    background-color: #19a438;
    cursor: pointer;
  }
  
  .buttoncadastro {
    background-color: #19a438;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
  }
  
  .buttonenviar {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
  }
  
  @media screen and (max-width: 500px) {
    .login {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 80px;
      border-radius: 15px;
      color: #fff;
      text-align: center;
    }
  }
  
  @media screen and (min-width: 764px) and (max-width: 1180px) {
    .buttonenviarcadastro {
      background-color: orangered;
      border: none;
      padding: 15px;
      width: 10rem;
      border-radius: 10px;
      color: white;
      font-size: 15px;
    }
  }
  
  /* Rodapé */
  footer {
    background: #133c74;
    padding: 35px;
    position: bottom;
    width: 100%;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7), 0 2px 8px 0 rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  
  footer h4 {
    color: white;
    font-size: 20px;
    margin: 0 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  
  footer h4:hover {
    color: rgb(0, 179, 255);
  }
  
  footer .navbar-nav a {
    color: #d4d4d4;
    font-weight: 25px;
    font-size: 14px;
    text-decoration: none;
  }
  
  footer .navbar-nav a:hover {
    color: rgb(0, 179, 255);
  }
  
  footer ul li {
    list-style: none;
  }
  
  footer ul li {
    float: right;
    margin: 0 20px;
    padding-top: 10px;
  }
  
  footer p span {
    color: #acacac;
  }
  
  .social-media {
    display: inline-block;
  }
  
  .social-media i {
    font-size: 20px;
    width: 35px;
    height: 35px;
    margin: 10px 3px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    background-color: #19a438;
    border-radius: 50%;
    color: white;
  }
  
  .social-media i:hover {
    transform: scale(1.2);
  }
  
  hr {
    margin: 80px 20px;
  }
  
  #politicas {
    margin-top: 90px;
  }
  